<div class="col-lg-4 col-md-4 col-sm-4 article-item">
			<div class="box"><%= image_tag featured_article.img_url, class: "img-responsive" %></div>
			<% if featured_article.external? %>
				<h3 class="featurey">
					<%= link_to featured_article.title, featured_article, target: "_blank" %>
				</h3>
			<% else %>
				<h3 class="featurey">
					<%= link_to featured_article.title, featured_article %>
				</h3>
			<% end %>

			<p class="summaryz"><%= truncate featured_article.summary, length: 160  %></p>
			<p class="pull-left vote-count" id="vote-<%= featured_article.id %>">
				<%= featured_article.reputation_for(:votes).to_i %> 
			</p>
			<p class="pull-left tags">
				&nbsp;&bull;
				<%= link_to featured_article.source, tag_path(featured_article.tag_list.first) , class: "tag-link" %> &bull; 
				<%= link_to featured_article.tag_list[1], tag_path(featured_article.tag_list[1]), class: "tag-link" %>
			</p>

			<p class="updown pull-right">
				<% if signed_in? %>
				
				<%=link_to vote_featured_article_path(featured_article, type: "up"), method: "post", remote: true, class: "voteup" do %>
					<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<% end %>
				 
				<%=link_to vote_featured_article_path(featured_article, type: "down"), method: "post", remote: true, class: "votedown" do %>
					<span class="glyphicon glyphicon-circle-arrow-down"></span>
				<% end %>

				<% else %>
				<%= render 'dummyvote' %>
				<% end %>
			</p>
			<% if signed_in? && current_user.admin? %>
			<p class="col-lg-12 col-md-12 col-sm-12"><%= link_to "delete", featured_article, method: :delete,
		                                  data: { confirm: "Are you sure?" } %>
		         &nbsp;&bull;&nbsp;
		  	<%= link_to "edit", edit_featured_article_path(featured_article) %></p>
			   <% end %>
		</div>
