<% provide(:title, "Edit Article") %>
<div class="container">
	<div class="row">
		<h1>New Featured article</h1>
		<div class="col-lg-6">
		<%= form_for(@article) do |f| %>
			<% if @article.errors.any? %>
				<div class="alert alert-danger">
					<p>The form contains <%= pluralize(@article.errors.count, "error") %></p>
				</div>

				<ul>
					<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>

			<div class="form-group">
				<%= f.text_field :img_url, placeholder: "Image URL - size: 360px x 200px", class: "form-control" %>
			</div>
			<br />
			<div class="form-group">
				<%= f.text_field :editors_comment, placeholder: "Editors Comment", class: "form-control" %>
			</div>
			<br />
			<div class="form-group">
				<%= f.text_field :title, placeholder: "Article Title", class: "form-control" %>
			</div>
			<br />
			<div class="form-group">
				<%= f.text_area :summary, rows: 3, placeholder: "Article Summary", class: "form-control"  %>
			</div>
			<br />
			<div class="form-group">
				<%= f.text_field :url, placeholder: "URL", class: "form-control" %>
			</div>
			<br />
			<div class="form-group">
				<%= f.label :tag_list, "Tags (separated by commas)" %><br />
  				<%= f.text_field :tag_list %>
  			</div>
			<br />
			<div class="form-group">
				<%= f.text_field :pubdate, placeholder: "Pub Date", class: "form-control" %>
			</div>
			<br />
			<div class="form-group">
				<%= f.text_field :source, placeholder: "Source", class: "form-control" %>
			</div><br />
			<div class="checkbox">
	   		<%= f.check_box :external %><%= f.label "Is article external?" %>
	   		</div>
			<br />
			<%= f.submit "Add Article", class: "btn btn-primary" %>

		<% end %>
		</div>

	</div>
</div>