<div class="container well">
	<div class="row">
		<h1>New Featured article</h1>
		<div class="col-lg-6">
		<%= form_for(@article) do |f| %>
			<div class="input-group">
				<%= f.text_field :img_url, placeholder: "Image URL - size: 360px x 200px", class: "form-control" %>
			</div>
			<br />
			<div class="input-group">
				<%= f.text_field :editors_comment, placeholder: "Editors Comment", class: "form-control" %>
			</div>
			<br />
			<div class="input-group">
				<%= f.text_field :title, placeholder: "Article Title", class: "form-control" %>
			</div>
			<br />
			<div class="input-group">
				<%= f.text_area :summary, rows: 3, placeholder: "Article Summary", class: "form-control"  %>
			</div>
			<br />
			<div class="input-group">
				<%= f.text_field :url, placeholder: "URL", class: "form-control" %>
			</div>
			<br />
			<div class="input-group">
				<%= f.label :tag_list, "Tags (separated by commas)" %><br />
  				<%= f.text_field :tag_list %>
  			</div>
			<br />
			<div class="input-group">
				<%= f.text_field :pubdate, placeholder: "Pub Date", class: "form-control" %>
			</div>
			<br />
			<div class="input-group">
				<%= f.text_field :source, placeholder: "Source", class: "form-control" %>
			</div>
			<br />
			<%= f.submit "Add Article", class: "btn btn-primary" %>

		<% end %>
		</div>

	</div>
</div>