<% provide(:title, "#{@article.title}") %>
<div class="container">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="article-back"><a href="<%= root_url %>"><span class="glyphicon glyphicon-chevron-left"></span> Back to The Front Page</a></p>
	</div>
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
		<h1 class="article-title col-lg-12 col-md-12 col-sm-12 col-xs-12 h2"><%= @article.title %></h1>
		<img src="<%= @article.img_url %>" class="article-img col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<%= simple_format @article.summary + "...", class: "article-summary col-lg-12 col-md-12 col-sm-12 col-xs-12" %>
		<p class="article-link col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right"><a href="<%= @article.url %>" target="_blank">Read the full article <span class="glyphicon glyphicon-chevron-right"></span></a></p>

		
	</div>

</div>