

  
    <%= form_for(@job) do |f| %>
      <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

          <ul>
          <% @job.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :location %><br />
        <%= f.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :job_type, "Hours" %><br />
        <%= f.select :job_type, options_for_select([["Full Time", "Full Time"], ["Part Time", "Part Time"], ["Freelance", "Freelance"], ["Temp/Seasonal", "Temp/Seasonal"], ["Intern", "Intern"]]) %>
      </div>
      <div class="form-group">
        <%= f.label :company %><br />
        <%= f.text_field :company, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :category %><br />
        <%= f.select :category, options_for_select([["Barista", "Barista"], ["Manager", "Manager"], ["Trainer", "Trainer"], ["Roaster", "Roaster"], ["Sales", "Sales"], ["Logistics", "Logistics"], ["Food", "Food"] , ["Other", "Other"]]) %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: "form-control", rows: 5 %>
      </div>
            <% if signed_in? && current_user.admin? %>
                <div class="checkbox">
                <%= f.check_box :verified %><%= f.label "verify?" %>
                </div>
                <div class="form-group">
                  <%= f.label :tag_list %><br />
                  <%= f.text_field :tag_list, class: "form-control", placeholder: "Category, Hours(Type), Company, Location" %>
                </div>
        <% end %>
      <div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>

