<% if params[:category] %>
    <% provide(:title, "Job Board | #{params[:category].upcase}") %>
<% else %> 
    <% provide(:title, "Job Board") %>
<% end %>




<div class="container">
    <div class="col-lg-3 job-nav">
        <%= render 'job_sidebar' %>    
    </div>

    <div class="col-lg-9">
        <% if params[:category] %>
            <h1 class="job-board text-center"><%= params[:category].upcase %></h1>
        <% else %>
            <h1 class="job-board text-center">JOB BOARD</h1>
        <% end %>

        <% if @recent_jobs.count == 0 && @older_jobs.count == 0 %>
            <div class="alert alert-danger">
                <p>I'm sorry, we can't find any jobs for that at the moment</p>
            </div>

        <% else %>
            <%= render 'recent' %>
            <%= render 'older' %>
        <% end %>
        
        <% if signed_in? && current_user.admin? %>
            <%= render 'unverified' %>
        <% end %>
        

    </div>
    
</div>