<% provide(:title, "Job Board") %>



<div class="container">
    <div class="col-lg-8">
        <% if params[:category] %>
        <h1 class="job-board text-center"><%= params[:category].upcase %></h1>
        <% else %>
        <h1 class="job-board text-center">JOB BOARD</h1>
        <% end %>
    <% if @recent_jobs.count == 0 && @older_jobs.count == 0 %>
        <div class="alert alert-danger">
            <p>I'm sorry, there's no jobs matching that category</p>
        </div>
        <% else %>
        <% @recent_jobs.each do |job| %>
            
            <div class="panel panel-job panel-info">
                <%= link_to job do %>
                <div class="panel-body">

                    <% if job.job_type == "Full Time" %>
                    <span class="label label-job label-primary"><%= job.job_type %></span>
                    <% end %>

                    <% if job.job_type == "Part Time" %>
                    <span class="label label-job label-success"><%= job.job_type %></span>
                    <% end %>

                    <% if job.job_type == "Freelance" %>
                    <span class="label label-job label-warning"><%= job.job_type %></span>
                    <% end %>

                     <% if job.job_type == "Temp/Seasonal" %>
                    <span class="label label-job label-info"><%= job.job_type %></span>
                    <% end %>

                     <% if job.job_type == "Intern" %>
                    <span class="label label-job label-default"><%= job.job_type %></span>
                    <% end %>

                    
                    <strong><%= job.title %></strong>
                    <span class="job-summary">at <%= job.company %></span>
                    <span class="job-summary">in <%= job.location %></span>

                    <!-- ADMIN FUNCTIONALITY -->

                    <% if signed_in? && current_user.admin? %>
                    <%= link_to edit_job_path(job) do %>
                        <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-cog"></span></button
                    <% end %>
                    <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-trash"></span></button>
                    <% end %>
                    <% end %>
                </div>
                
                <% end %>
            </div>
            
        <% end %>

        <% @older_jobs.each do |job| %>
            
            <div class="panel panel-default">
                <div class="panel-body">

                    <% if job.job_type == "Full Time" %>
                    <span class="label label-job label-primary"><%= job.job_type %></span>
                    <% end %>

                    <% if job.job_type == "Part Time" %>
                    <span class="label label-job label-success"><%= job.job_type %></span>
                    <% end %>

                    <% if job.job_type == "Freelance" %>
                    <span class="label label-job label-warning"><%= job.job_type %></span>
                    <% end %>

                     <% if job.job_type == "Temp/Seasonal" %>
                    <span class="label label-job label-info"><%= job.job_type %></span>
                    <% end %>

                     <% if job.job_type == "Intern" %>
                    <span class="label label-job label-default"><%= job.job_type %></span>
                    <% end %>

                    
                    <strong><%= job.title %></strong>
                    <small>at <%= job.company %></small>
                    <small>in <%= job.location %></small>

                    
                    <!-- ADMIN FUNCTIONALITY -->

                    <% if signed_in? && current_user.admin? %>
                    <%= link_to edit_job_path(job) do %>
                        <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-cog"></span></button
                    <% end %>
                    <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-trash"></span></button>
                    <% end %>
                    <% end %>
                </div>
            </div>

        <% end %>
    <% end %>
    </div>
    <div class="col-lg-4 job-nav">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/jobs">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">All Jobs</a>
                </a>
            </li>
            <li class="active disabled">
                <a href="#" class="text-center">
                    Hours
                </a>
            </li>
            <li>
                <a href="/jobs/category/full time">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Full Time</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/part time">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Part Time</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/freelance">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Freelance</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/temp seasonal">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Temp/Seasonal</a>
                </a>
            </li>

            <li class="active disabled">
                <a href="#" class="text-center">
                    Category
                </a>
            </li>
            <li>
                <a href="/jobs/category/barista">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Barista</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/manager">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Manager</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/trainer">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Trainer</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/roaster">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Roaster</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/sales">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Sales</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/logistics">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Logistics</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/food">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Food</a>
                </a>
            </li>
            <li>
                <a href="/jobs/category/other">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="pull-right">Other</a>
                </a>
            </li>
        </ul>
    </div>
</div>