<% provide(:title, "#{@job.title} | #{@job.company}") %>

<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <h1 class="job-title text-center"><%= @job.title %></h1>
      <div class="text-center">
        <p class="text-muted">
        <%= @job.category %> &bull;
        <%= @job.company %> &bull; 
        <%= @job.job_type %> &bull; 
        <%= @job.location %> 
        </p>
      </div>
    
    <p class="job-description">
      <%= @job.description %>
    </p>
  </div>
</div>
