<% provide(:title, "#{@job.title} | #{@job.company}") %>

<div class="container">
  <div class="col-lg-12">
    <h1 class="job-title text-center"><%= @job.title %></h1>
    <p class"text-right">
      <%= @job.location %> &bull;
      <%= @job.company %> &bull; 
      <%= @job.job_type %> &bull; 
      <%= @job.category %>
    </p>
    <p class="job-description">
      <%= @job.description %>
    </p>
  </div>

</div>
