<% provide(:title, "#{@job.title} | #{@job.company}") %>
<div class="container">
    <div class="col-lg-2">
        <div class="back-to-jobs">
          <a href="/jobs">
            <p><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Back to Job Board</p>
          </a>
        </div>
    </div>
</div>
<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <h1 class="job-title text-center"><%= @job.title %></h1>
      <div class="text-center">
        <% if @job.tag_list.count >= 4 %>
        <p class="text-muted">
        <%= link_to @job.category, category_path(@job.tag_list[0]), class: "job-tags" %> &bull;
        <%= link_to @job.job_type, category_path(@job.tag_list[1]), class: "job-tags" %> &bull; 
        <%= link_to @job.company, category_path(@job.tag_list[2]), class: "job-tags" %> &bull; 
        <%= link_to @job.location, category_path(@job.tag_list[3]), class: "job-tags" %> 
        </p>
        <% else %>
        <p class="text-muted">
        <%= @job.category %> &bull;
        <%= @job.job_type %> &bull; 
        <%= @job.company %> &bull; 
        <%= @job.location %> 
        </p>
        <% end %>
      </div>
    
    <p class="job-description">
      <%= @job.description %>
    </p>
  </div>
</div>
