<div class="container">
	
	<h2>Sign up!</h2>
	<%= form_for @user do |f| %>
	<%= render 'shared/error_messages' %>
		<div class="input-group">
			<%= f.text_field :name, placeholder: "Name", class: "form-control" %>
		</div>
		<br />
		<div class="input-group">
			<%= f.text_field :email, placeholder: "Email", class: "form-control" %>
		</div>
		<br />
		<div class="input-group">
			<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
		</div>
		<br />
		<div class="input-group">
			<%= f.password_field :password_confirmation, placeholder: "Confirmation", class: "form-control" %>
		</div>
		<br />
		<%= f.label "Get Email" %> <br />
   		<%= f.check_box :subscribe %> <br />

		<%= f.submit "Create my account", class: 'btn btn-primary' %>
	<% end %>

</div>