

	<% @favourites.each do |item| %>
		<div class="list-group-item col-lg-12
					col-md-12 col-sm-12 col-xs-12">
			<h5 class="feed-title h4 text-right">
				<%= link_to item.title, item.url, target: "_blank" %>
			</h5>
			<p class="updown pull-right">

					<span id="fav-<%= item.id %>">
						<%= item.reputation_for(:votes).to_i %>
					</span>
					<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true do %>
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
					<% end %>
					 
					<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true do %>
						<span class="glyphicon glyphicon-circle-arrow-down"></span>
					<% end %>
		
			</p>
		</div>
	<% end %>
