<em></em>

	<% @featured.each do |item| %>
	<div class="list-group-item">
		<div class="row">
			<small class="editors-comment
							col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<%= item.editors_comment %>
			</small>
			
			<img src="<%= item.img_url %>" class="feature-picture
												  col-lg-7 col-md-12 col-sm-12 col-xs-12">

			<h1 class="h4 feature-title
						col-lg-5 col-md-12 col-sm-12 col-xs-12">
				<%= link_to item.title, item, target: "_blank" %>
			</h1>
			<p class="feature-summary
						col-lg-5 visible-lg">
				<%= truncate(item.summary, length: 180) %>
			</p>

			<p class="feature-summary
						col-md-12 col-sm-12 col-xs-12 hidden-lg">
				<%= truncate(item.summary, length: 400) %>
			</p>

			<small class="text-muted pull-right feature-pubdate text-right
							col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<%= item.source %> / <%= item.pubdate %>
			</small>

			<div class="voter pull-right
						col-lg-12 col-md-12 col-sm-12 col-xs-12">
				
			<% if signed_in? %>
				<p class="updown pull-right">
					
					<span id="vote-<%= item.id %>">
					<%= item.reputation_for(:votes).to_i %>
					</span>
					
					<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true do %>
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
					<% end %>
					 
					<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true do %>
						<span class="glyphicon glyphicon-circle-arrow-down"></span>
					<% end %>
				</p>

			<% else %>

				<p class="updown pull-right">

					
					<span id="vote-<%= item.id %>">
					<%= item.reputation_for(:votes).to_i %>
					</span>
					
					<%=link_to '#' do %>
						<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
					<% end %>
					 
					<%=link_to '#' do %>
						<span class="glyphicon glyphicon-circle-arrow-down"></span>
					<% end %>
				</p>

				<script type="text/javascript">
					$( ".updown" ).click(function() {
					  $("#vote-notice").html("Please Sign in or Register to rate Articles :)");
					});
				</script>

			<% end %>

				

				<% if signed_in? && current_user.admin? %>
					<%= link_to "delete", item, method: :delete,
                                  data: { confirm: "You sure?" } %>
				<% end %>

			</div>
		</div>
	</div>
	<% end %>
