	<% @feed.each do |item| %>
		<li class="list-group-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
			
			<h5 class="feed-title">
				<%= link_to item.title, item, target: "_blank" %>
			</h5>
			<small class="text-muted feature-pubdate pull-left">
				<%= time_ago_in_words(item.pubdate) %> ago
			</small>
			<br />
			
			<p class="feed-updown pull-right">
				<span id="vote-<%= item.id %>"> 
					<%= item.reputation_for(:votes).to_i %>
				</span>
				
				<%=link_to vote_feed_entry_path(item, type: "up"), method: "post", remote: true do %>
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
					<% end %>
					 
					<%=link_to vote_feed_entry_path(item, type: "down"), method: "post", remote: true do %>
						<span class="glyphicon glyphicon-circle-arrow-down"></span>
					<% end %>
			</p>
			
			
			
		</li>
	<% end %>
