<div class="container">
	<% flash.each do |key, value| %>
			<span class="label label-<%= key %> center-block notice-label">
				<%= value %>
			</span>
			<% end %>
		</div>
<div class="column-banner hidden-xs hidden-sm">
	<div class="container">
	

		<div class="col-lg-3">
			<p class="pull-left column-header">The Latest</p>
		</div>
		<div class="col-lg-6">
			<p class="text-center column-header">Featured</p>
		</div>
		<div class="col-lg-3">
			<p class="pull-right column-header">Highest Rated</p>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">

		<div class="hidden-xs hidden-sm">
			<%= render 'feed' %>
		</div>

		<h1 class="mobile-heading text-center visible-xs visible-sm">
			Featured
		</h1>

		<%= render 'feature' %>

		<div class="hidden-xs hidden-sm">
			<%= render 'favourite' %>
		</div>

		<div class="visible-xs visible-sm">
			<h1 class="mobile-heading text-center">The Latest</h1>
			<%= render 'feed' %>
			<h1 class="mobile-heading text-center">Highest Rated</h1>
			<%= render 'favourite' %>
		</div>

 	</div>


</div>
<% if signed_in? && current_user.admin? %>
<div class="container well">
	<%= link_to "Update Feed Entries", update_feed_path %> |
	<%= link_to "New Featured Articles", new_featured_article_path %> |
	<%= link_to "All Users", users_path %>
</div>
<% end %>