
<div class="container">
	<div class="row article-row">

<!-- Left -->
	<div class="col-lg-4 col-md-4 col-sm-4 article-item">
		<div class="box"><img src="http://i.imgur.com/ZCu8hEN.jpg" class="img-responsive"></div>
		<h3 class="featurey">
			<%= @featured[0].title %>
		</h3>

		<p class="summaryz"><%= truncate @featured[0].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
				<%= @featured[1].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>

<!-- Center -->

	<div class="col-lg-4 col-md-4 col-sm-4 article-item">
		<div class="box"><img src="http://i.imgur.com/Bd6ijxt.jpg" class="img-responsive"></div>
		<h3 class="featurey">
			<%= @featured[1].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[1].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; dailycoffeenews.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[1].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>

<!-- Right -->

	<div class="col-lg-4 col-md-4 col-sm-4 article-item">
		<div class="box"><img src="http://i.imgur.com/2HazJKL.png" class="img-responsive"></div>
		<h3 class="featurey">
			<%= @featured[2].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[2].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[2].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>
</div>

<div class="row article-row">

<!-- Left -->
	
	<div class="col-lg-4 article-item">
		<div class="box"><img src="http://i.imgur.com/Bd6ijxt.jpg"></div>
		<h3 class="featurey">
			<%= @featured[1].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[1].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[1].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>

<!-- Center -->


	<div class="col-lg-4 article-item">
		<div class="box"><img src="http://i.imgur.com/ZCu8hEN.jpg"></div>
		<h3 class="featurey">
			<%= @featured[0].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[0].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[2].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>

<!-- Right -->

	<div class="col-lg-4 article-item">
		<div class="box"><img src="http://i.imgur.com/2HazJKL.png"></div>
		<h3 class="featurey">
			<%= @featured[2].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[2].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[2].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>
</div>

<div class="row article-row">

<!-- Left -->
	
	<div class="col-lg-4 article-item">
		<div class="box"><img src="http://i.imgur.com/Bd6ijxt.jpg"></div>
		<h3 class="featurey">
			<%= @featured[1].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[1].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[1].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>

<!-- Center -->


	<div class="col-lg-4 article-item">
		<div class="box"><img src="http://i.imgur.com/ZCu8hEN.jpg"></div>
		<h3 class="featurey">
			<%= @featured[0].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[0].summary, length: 160  %></p>
		<p class="text-muted info pull-left">18 &bull; </p>
		<p class="text-muted info pull-left">sprudge.com &bull; </p>
		<p class="text-muted info pull-left">tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[2].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>

<!-- Right -->

	<div class="col-lg-4 article-item">
		<div class="box"><img src="http://i.imgur.com/2HazJKL.png"></div>
		<h3 class="featurey">
			<%= @featured[2].title %>
		</h3>
		<p class="summaryz"><%= truncate @featured[2].summary, length: 160  %></p>
		<p class="text-muted pull-left info">18 &bull; sprudge.com &bull; tutorial</p>
		<p class="updown pull-right">
			<span id="">
			<%= @featured[2].reputation_for(:votes).to_i %>
			</span>
			
			<%=link_to '#', class: "voteup" do %>
				<span class="glyphicon glyphicon-circle-arrow-up" id="glyph"></span>
			<% end %>
			 
			<%=link_to '#', class: "votedown" do %>
				<span class="glyphicon glyphicon-circle-arrow-down"></span>
			<% end %>
		</p>
	</div>
</div>

</div>





<% if signed_in? && current_user.admin? %>
<div class="container well">
	<%= link_to "Update Feed Entries", update_feed_path %> |
	<%= link_to "New Featured Articles", new_featured_article_path %> |
	<%= link_to "All Users", users_path %>
</div>
<% end %>