<% provide(:title, 'THE FRONT PAGE OF COFFEE') %>


<div class="container hidden-xs">
	<h1 class="tagline text-center">The Front Page of Coffee</h1>
</div>

<div class="tagline-bar-xs visible-xs">
	<div class="container">
		<h2 class="tagline-xs text-center">The Front Page of Coffee</h2>
	</div>
</div>

<div class="container">
	<p class="text-center" id="vote-notice"></p>
</div>








<div class="container hidden-xs">

	<!-- FIRST ROW 					 -->
	<div class="row article-row">

	<% @featured[0..2].each do |item| %>

		<div class="col-lg-4 col-md-4 col-sm-4 article-item">
			<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
			<% if item.external? %>
				<h3 class="featurey">
					<%= link_to item.title, item, target: "_blank" %>
				</h3>
			<% else %>
				<h3 class="featurey">
					<%= link_to item.title, item %>
				</h3>
			<% end %>

			<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
			<p class="pull-left vote-count" id="vote-<%= item.id %>">
				<%= item.reputation_for(:votes).to_i %> 
			</p>
			<p class="pull-left tags">
				&nbsp;&bull;
				<%= link_to item.source, tag_path(item.tag_list.first) , class: "tag-link" %> &bull; 
				<%= link_to item.tag_list[1], tag_path(item.tag_list[1]), class: "tag-link" %>
			</p>

			<p class="updown pull-right">
				<em id="vote-notice-<%= item.id %>"></em>
				<% if signed_in? %>
				
				<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true, class: "voteup" do %>
					<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<% end %>
				 
				<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true, class: "votedown" do %>
					<span class="glyphicon glyphicon-circle-arrow-down"></span>
				<% end %>

				<% else %>
				<%= render 'dummyvote' %>
				<% end %>
			</p>
			<% if signed_in? && current_user.admin? %>
			<p class="col-lg-12 col-md-12 col-sm-12"><%= link_to "delete", item, method: :delete,
		                                  data: { confirm: "Are you sure?" } %>
		         &nbsp;&bull;&nbsp;
		  	<%= link_to "edit", edit_featured_article_path(item) %></p>
			   <% end %>
		</div>


	<% end %>

	</div>


<!-- SECOND ROW ///////////////////////////////////// -->

	<div class="row article-row">

		<% @featured[3..5].each do |item| %>

		<div class="col-lg-4 col-md-4 col-sm-4 article-item">
			<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
			<% if item.external? %>
				<h3 class="featurey">
					<%= link_to item.title, item, target: "_blank" %>
				</h3>
			<% else %>
				<h3 class="featurey">
					<%= link_to item.title, item %>
				</h3>
			<% end %>

			<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
			<p class="pull-left vote-count" id="vote-<%= item.id %>">
				<%= item.reputation_for(:votes).to_i %> 
			</p>
			<p class="pull-left tags">
				&nbsp;&bull;
				<%= link_to item.source, tag_path(item.tag_list.first) , class: "tag-link" %> &bull; 
				<%= link_to item.tag_list[1], tag_path(item.tag_list[1]), class: "tag-link" %>
			</p>

			<p class="updown pull-right">
				<% if signed_in? %>
				
				<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true, class: "voteup" do %>
					<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<% end %>
				 
				<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true, class: "votedown" do %>
					<span class="glyphicon glyphicon-circle-arrow-down"></span>
				<% end %>

				<% else %>
				<%= render 'dummyvote' %>
				<% end %>
			</p>
			
			<% if signed_in? && current_user.admin? %>
			<p class="col-lg-12 col-md-12 col-sm-12"><%= link_to "delete", item, method: :delete,
		                                  data: { confirm: "Are you sure?" } %>
		         &nbsp;&bull;&nbsp;
		  	<%= link_to "edit", edit_featured_article_path(item) %></p>
			   <% end %>
		</div>

	<% end %>

	</div>

<!-- THIRD ROW ////////////////////////////////////////// -->

	<div class="row article-row">

	<% @featured[6..8].each do |item| %>

		<div class="col-lg-4 col-md-4 col-sm-4 article-item">
			<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
			<% if item.external? %>
				<h3 class="featurey">
					<%= link_to item.title, item, target: "_blank" %>
				</h3>
			<% else %>
				<h3 class="featurey">
					<%= link_to item.title, item %>
				</h3>
			<% end %>

			<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
			<p class="pull-left vote-count" id="vote-<%= item.id %>">
				<%= item.reputation_for(:votes).to_i %> 
			</p>
			<p class="pull-left tags">
				&nbsp;&bull;
				<%= link_to item.source, tag_path(item.tag_list.first) , class: "tag-link" %> &bull; 
				<%= link_to item.tag_list[1], tag_path(item.tag_list[1]), class: "tag-link" %>
			</p>

			<p class="updown pull-right">
				<% if signed_in? %>
				
				<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true, class: "voteup" do %>
					<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<% end %>
				 
				<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true, class: "votedown" do %>
					<span class="glyphicon glyphicon-circle-arrow-down"></span>
				<% end %>

				<% else %>
				<%= render 'dummyvote' %>
				<% end %>
			</p>
			<% if signed_in? && current_user.admin? %>
			<p class="col-lg-12 col-md-12 col-sm-12"><%= link_to "delete", item, method: :delete,
		                                  data: { confirm: "Are you sure?" } %>
		         &nbsp;&bull;&nbsp;
		  	<%= link_to "edit", edit_featured_article_path(item) %></p>
			   <% end %>
		</div>

	<% end %>

	</div>
	<div class="row article-row">

	<% @featured[6..8].each do |item| %>

		<div class="col-lg-4 col-md-4 col-sm-4 article-item">
			<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
			<% if item.external? %>
				<h3 class="featurey">
					<%= link_to item.title, item, target: "_blank" %>
				</h3>
			<% else %>
				<h3 class="featurey">
					<%= link_to item.title, item %>
				</h3>
			<% end %>

			<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
			<p class="pull-left vote-count" id="vote-<%= item.id %>">
				<%= item.reputation_for(:votes).to_i %> 
			</p>
			<p class="pull-left tags">
				&nbsp;&bull;
				<%= link_to item.source, tag_path(item.tag_list.first) , class: "tag-link" %> &bull; 
				<%= link_to item.tag_list[1], tag_path(item.tag_list[1]), class: "tag-link" %>
			</p>

			<p class="updown pull-right">
				<% if signed_in? %>
				
				<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true, class: "voteup" do %>
					<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<% end %>
				 
				<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true, class: "votedown" do %>
					<span class="glyphicon glyphicon-circle-arrow-down"></span>
				<% end %>

				<% else %>
				<%= render 'dummyvote' %>
				<% end %>
			</p>
			<% if signed_in? && current_user.admin? %>
			<p class="col-lg-12 col-md-12 col-sm-12"><%= link_to "delete", item, method: :delete,
		                                  data: { confirm: "Are you sure?" } %>
		         &nbsp;&bull;&nbsp;
		  	<%= link_to "edit", edit_featured_article_path(item) %></p>
			   <% end %>
		</div>

	<% end %>

	</div>
</div>
</div>








<!-- XS SCREEN CONTENT -->
<div class="visible-xs">
	

	<div class="article-list">

		<% @featured.each do |item| %>
			<div class="<%= cycle('list-odd', 'list-even') %>">
				<div class="container">
					<div class="article-item-xs col-xs-12">
						
							<%= image_tag item.img_url, class: "img-xs" %>
						
						<h1 class="title-xs">
							<%= link_to item.title, item %>
						</h1>
						<p class="summary-xs">
							<%= truncate item.summary, length: 260 %>
						</p>
						
 						<p class="pull-left vote-count-xs" id="vote-<%= item.id %>-xs">
 							<%= item.reputation_for(:votes).to_i %> 
 						</p>
 						<p class="pull-left tags-xs">
 							&nbsp;&bull;
 							<%= link_to item.source, tag_path(item.tag_list.first), class: "tag-link-xs" %> &bull; 
							<%= link_to item.tag_list[1], tag_path(item.tag_list[1]), class: "tag-link-xs" %>
						</p>

						<p class="updown-xs pull-right">
							<% if signed_in? %>
		
							<%=link_to vote_featured_article_path(item, type: "up"), method: "post", remote: true, class: "voteup" do %>
								<span class="glyphicon glyphicon-circle-arrow-up"></span>
							<% end %>
							 
							<%=link_to vote_featured_article_path(item, type: "down"), method: "post", remote: true, class: "votedown" do %>
								<span class="glyphicon glyphicon-circle-arrow-down"></span>
							<% end %>

							<% else %>
							<%= render 'dummyvote' %>
							<% end %>

							
						</p>
						<% if signed_in? && current_user.admin? %>
							<p><%= link_to "delete", item, method: :delete,
                                  data: { confirm: "Are you sure?" } %></p>
                        <% end %>

					</div>
				</div>
			</div>

		<% end %>

	</div>





</div>

<% if signed_in? && current_user.admin? %>
  <div class="container">
    <div class="well col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p><%= link_to "New Article", new_featured_article_path, target: "_blank" %>
      </p>
      <p>
        <a href="http://pipes.yahoo.com/pipes/pipe.info?_id=e8dd4d7d8b5d4a4788d1191f82e93d06" target="_blank">
        Article sources
        </a>
      </p>
      <p><%= link_to "All users", users_path %></p>
      <p>Todays favourites</p>
      <ol>
      <% @daily_favs.each do |item| %>
        <li><%= link_to item.title, item %> &bull; <%= item.reputation_for(:votes).to_i %> </li>
      <% end %>
      </ol>

      <p>Last Week's Favourites</p>
      <ol>
      <% @week_favs.each do |item| %>
        <li><%= link_to item.title, item %> &bull; <%= item.reputation_for(:votes).to_i %> </li>
      <% end %>
      </ol>
      <p>Last week's email subscribers</p>
      <ul>
        <% @recent_users.each do |user| %>
        <li><%= user.name %> &bull; <%= user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

