
<div class="container">
    <h1 class="tagline text-center">The Front Page of Coffee</h1>
  </div>





<div class="container">

	<!-- FIRST ROW ////////////////////////////////////// -->
<div class="row article-row">

<% @featured[0..2].each do |item| %>

<div class="col-lg-4 col-md-4 col-sm-4 article-item">
	<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
	<h3 class="featurey">
		<%= link_to item.title, item.url, target: "_blank" %>
	</h3>

	<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
	<p class="pull-left vote-count">
		<%= item.reputation_for(:votes).to_i %> &bull;&nbsp;
	</p>
	<p class="pull-left tags">
		<%= link_to item.source, '#', class: "tag-link" %> &bull; 
		<%= link_to 'Tag', '#', class: "tag-link" %>
	</p>

	<p class="updown pull-right">
		<%= render 'dummyvote' %>
		
	</p>
</div>

<% end %>

</div>


<!-- SECOND ROW ///////////////////////////////////// -->

<div class="row article-row">

	<% @featured[3..5].each do |item| %>

	<div class="col-lg-4 col-md-4 col-sm-4 article-item">
	<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
	<h3 class="featurey">
		<%= link_to item.title, item.url, target: "_blank" %>
	</h3>

	<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
	<p class="pull-left vote-count">
		<%= item.reputation_for(:votes).to_i %> &bull;&nbsp;
	</p>
	<p class="pull-left tags">
		<%= link_to item.source, '#', class: "tag-link" %> &bull; 
		<%= link_to 'Tag', '#', class: "tag-link" %>
	</p>

	<p class="updown pull-right">
		<%= render 'dummyvote' %>
		
	</p>
</div>

<% end %>

</div>

<!-- THIRD ROW ////////////////////////////////////////// -->

<div class="row article-row">

<% @featured[6..8].each do |item| %>

	<div class="col-lg-4 col-md-4 col-sm-4 article-item">
	<div class="box"><%= image_tag item.img_url, class: "img-responsive" %></div>
	<h3 class="featurey">
		<%= link_to item.title, item.url, target: "_blank" %>
	</h3>

	<p class="summaryz"><%= truncate item.summary, length: 160  %></p>
	<p class="pull-left vote-count">
		<%= item.reputation_for(:votes).to_i %> &bull;&nbsp;
	</p>
	<p class="pull-left tags">
		<%= link_to item.source, '#', class: "tag-link" %> &bull; 
		<%= link_to 'Tag', '#', class: "tag-link" %>
	</p>

	<p class="updown pull-right">
		<%= render 'dummyvote' %>
		
	</p>
</div>

<% end %>

</div>


</div>





<% if signed_in? && current_user.admin? %>
<div class="container well">
	<%= link_to "Update Feed Entries", update_feed_path %> |
	<%= link_to "New Featured Articles", new_featured_article_path %> |
	<%= link_to "All Users", users_path %>
</div>
<% end %>