<div class="container">
	<% flash.each do |key, value| %>
			<span class="label label-<%= key %> center-block notice-label">
				<%= value %>
			</span>
			<% end %>
		</div>
<div class="column-banner hidden-xs">
	<div class="container">
	

		<div class="col-lg-3 col-md-3 col-sm-3">
			<p class="pull-left column-header">The Latest</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<p class="text-center column-header">Featured</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<p class="pull-right column-header">Highest Rated</p>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">

		<ul class="list-group feed-column 
				   col-lg-3 col-md-3 col-sm-3 hidden-xs">
			<%= render 'feed' %>
		</ul>
		<div class="list-group 
					col-lg-6 col-md-6 col-sm-6">
			<%= render 'feature' %>
		</div>
		<div class="list-group 
					col-lg-3 col-md-3 col-sm-3 hidden-xs">
			<%= render 'favourite' %>
		</div>

 	</div>


</div>
<% if signed_in? && current_user.admin? %>
<div class="container well">
	<%= link_to "Update Feed Entries", update_feed_path %> |
	<%= link_to "New Featured Articles", new_featured_article_path %> |
	<%= link_to "All Users", users_path %>
</div>
<% end %>