<div class="container">
	<% flash.each do |key, value| %>
		<span class="label label-<%= key %> center-block notice-label">
			<%= value %>
		</span>
	<% end %>
</div>



		<!-- <p class="visible-xs">XS screen</p>
		<p class="visible-sm">SM screen</p>
		<p class="visible-md">MD screen</p>
		<p class="visible-lg">LG screen</p>
 -->


<div class="column-banner hidden-xs">
	<div class="container">
	

		<div class="col-lg-3 col-md-3 col-sm-3">
			<p class="pull-left column-header">The Latest</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<p class="text-center column-header">Featured</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<p class="pull-right column-header">Highest Rated</p>
		</div>
	</div>
</div>


<div class="container hidden-xs">
	

		<ul class="list-group feed-column 
				   col-lg-3 col-md-3 col-sm-3">
			<%= render 'feed' %>
		</ul>

		<div class="list-group 
					col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<%= render 'feature' %>
		</div>
		<div class="list-group 
					col-lg-3 col-md-3 col-sm-3">
			<%= render 'favourite' %>
		</div>

 	
</div>


<div class="visible-xs">



	<div class="column-banner">
		<div class="container">
			<p class="text-center column-header col-xs-12">
				Featured
			</p>
		</div>
	</div>

	<div class="container">
		<div class="list-group col-xs-12">
				<%= render 'feature' %>
		</div>
	</div>

	<div class="column-banner">
		<div class="container">
			<p class="text-center column-header col-xs-12">
				The Latest
			</p>
		</div>
	</div>

	<div class="container">
		<ul class="list-group col-xs-12">
				<%= render 'feed' %>
		</ul>
	</div>

	<div class="column-banner">
		<div class="container">
			<p class="text-center column-header col-xs-12">
				Highest Rated
			</p>
		</div>
	</div>

	<div class="container">
		<ul class="list-group col-xs-12">
				<%= render 'favourite' %>
		</ul>
	</div>






</div>








<% if signed_in? && current_user.admin? %>
<div class="container well">
	<%= link_to "Update Feed Entries", update_feed_path %> |
	<%= link_to "New Featured Articles", new_featured_article_path %> |
	<%= link_to "All Users", users_path %>
</div>
<% end %>