<!DOCTYPE html>
<html>
<head>
  <title>Beanist2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
</head>
<body>
	<%= render 'layouts/header' %> 

<%= yield %>
<!-- 

	<div class="col-lg-12 params">
		<%= debug(params) if Rails.env.development? %>
	</div> -->

<div class="container">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="footer text-muted text-center">
			This is a site for people who don't just like to drink coffee, but they love reading about it too. &copy; Beanist <%= Time.now.year %>. 
			<span class="glyphicon glyphicon-envelope"><%= link_to 'http://twitter.com/the_beanist'%></span>
		</p>
		<%= link_to 'http://twitter.com/the_beanist', target: '_blank', class: "mail" do %>
			<span class="glyphicon glyphicon-envelope"></span>
		<% end %>

	</div>
</div>


</body>


</html>
